
.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
}

.user-card {
  background: linear-gradient(to bottom, #b8df5d 0%,#65b32e 44%,#185a15 100%);
  margin: auto;
  margin-top: 3rem;
  display: flex;
  width: 40rem;
  color: #fff;
  box-shadow: 1px 1px 10px black;
}

.user-image {
  height: 10rem;
  box-shadow: 1px 1px 10px black;
}

.user-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-shadow: 1px 1px 5px #3a3a3a;
}

.follower-card {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  width: 30rem;
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
  color: #fff;
  box-shadow: 1px 1px 10px black;
}